  /* Navigation Menu */

.navbar-default {
  background-color: #776F67;
  border-bottom: 3px solid #e44e35;
}

.navbar-default .navbar-brand {
    color: #fff;
    background-image: url("img/flame.png");
    font-size: 36px;
    text-align:center;
    font-family: "Tahoma", sans-serif;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
}

.navbar-default a {
	color: blue;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-text {
  color: #fff9eb;
  font-size: 22px;
}
.navbar-default .navbar-nav > li > a {
  border: 1px solid #e44e35;
  margin: 5px;
  border-radius: 5px;
  color: #fff9eb;
  font-size: 22px;
  background-color: #898076;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #cdedfe;

    font-size: 22px;
}

.intro-section {
	background-color: ##fff5e0;
}

.intro-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #fffaf0;
}

h1 {
	color: #E34E35;
	padding-top: 50px;
}

h2 {
  color: #E34E35;

  background-color: #605953;
  font-size: 22px;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

/*
.navbar-default .navbar-nav > li > button {
  border: 1px solid #e44e35;
  margin: 5px;
  border-radius: 5px;
  color: #fff9eb;
  font-size: 22px;
  background-color: #898076;
  padding-top: 15px;
  padding-bottom: 15px;
*/
  /* Misc Tags */
}

h1 {
	color: #E34E35;
  margin: 5%;
	padding: 3%;
}


  /* The frontpage sections */

.info-section, .h1 {
    height: 100%;
    padding-top: 5px;
    text-align: center;
    background: #e44e35;
    color: #fff;
}

.map-section {
    height: 80%;
    padding-top: 25px;
    margin: 7%;
    text-align: center;
    background: #fff;
}


.intro-section {
    height: 60%;
    padding-top: 75px;
    text-align: center;
    background-color: #fffff0;
}